<!-- <script src="c:/v/java/angular-1.8.0/angular.min.js"></script>
<div ng-app>
    Click me to toggle: <input type="checkbox" ng-model="checked"><br />
    <button ng-model="button" ng-disabled="checked">Button</button>
</div> -->

<!doctype html>
<html ng-app>
  <head>
    <script src="c:/v/java/angular-1.8.0/angular.min.js"></script>
  </head>
  <body>
    Click me to toggle: <input type="checkbox" ng-model="checked"><br/>
    <button ng-model="button" ng-disabled="checked">Button</button>
  </body>
</html>