# Eclipse
**/bin/
**/doc/
**.classpath
**.project
**.prefs
**.metadata/
**.settings/

# Gradle
**/.gradle/
**/build/
**/gradle/

# Intellij IDEA
**/.idea
**/.out
**/target
**.iml
**.ipr
**.iws

# Maven
**/log/
**/target/
**.ec

# common
**/out
**.class
#**.log
**.jar
**.ser
**.zip
# **.xml