# Eclipse
**/bin/
**/doc/
**.classpath
**.metadata
**.project
**.prefs
**.settings

# Gradle
**/.gradle/
**/build/
**/gradle/

# Intellij IDEA
**/.idea/
**/.out/
**/target/
**.iml
**.ipr
**.iws

# Maven
**/.mvn/
**/log/
**/target/
**.ec

# NetBean
**/private/

# common
**/out/
**.bat
**.class
**.cmd
**.jar
**.ser
**.zip
**.war

#**.log
#**.xml