# Eclipse
**.classpath
**.project
**.metadata/
**.settings/

# Gradle
**/build/
**/gradle/
**/.gradle/

# Intellij IDEA
**/.idea
**/.out
**/target
**.iml
**.ipr
**.iws

# Maven
**/log/
**/target/
**.ec
**.ser

# common
**/out
**.class
**.log
**.jar
