<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="All">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>

        <File name="MyFileAppender" fileName="C:/000/log4j2_xml.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="All">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="MyFileAppender"/>
        </Root>
    </Loggers>
</Configuration>