<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="c://v/java/angular-1.8.0/angular.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <a href="https://monsterlessons.com/project/lessons/opriedielieniie-mietoda-v-kontrollierie-angularjs">Lesson 4</a>
    <div ng-controller='firstCtrl'>
        {{hello}}
        <br>
        {{getBookmark()}}
        <br>
        <button ng-click='setHello("Foo")'>Foo</button>
        <br>
        <button ng-click='setHello("Bar")'>Bar</button>
        <br>
        {{myFactory.hello()}}
    </div>
</body>

</html>